# Sensitive files
config.py

# VSCode files
.vscode/

# Python cache files
__pycache__/
*.egg-info
uv.lock

# Nohup file
nohup.out

# File that stores pid of the txt
pid.txt

# Virtual Env
venv/
.venv/

# Database file
data/db.sqlite3
